/*começou o css do index*/
nav {
    height: 70px;
    background-color: blue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
    text-align: center;
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
    justify-content: center; /* Opcional, para centralizar horizontalmente */
    border-radius: 15px;
    
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
    justify-content: center; /* Adicionado */
    height: 100%; /* Adicionado */
    
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    text-transform: capitalize;
    margin: 0; /* Alterado de margin-top para margin para remover margens */
    height: 100%; /* Adicionado */
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    

}

header a:hover{
    background-color: rgb(0, 225, 255);
    border-radius: 15px;
    padding: 8px 10px;

}

div.logo {
    display: block;
    margin-top: 10px;
    background-color: rgb(53, 53, 53);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    justify-content: center;
    border-radius: 15px;
    

}
div img {
     width: 400px;
}
div h1 {
text-transform: capitalize;



} 
div{
   text-align: center;
}


.imgsize img{
    margin-top: -10px;
    width: 100%;
    height: 700px;
    border-radius: 15px;
}


/* vai começar o css dos produtos*/

.produtos{
    margin: 0;
    height: 70px;
    background-color: blue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
    text-align: center;
    display: flex; /* Adicionado */
    align-items: center; /* Adicionado */
    justify-content: center; /* Opcional, para centralizar horizontalmente */
    color: white;
    font-size: 2.5em;
    text-transform: capitalize;
    border-radius: 15px;
}
.container {
    font-size: 0; /* Remove espaçamento extra entre os containers */
}

.box {
    width: 250px;
    height: 300px;
    background-color: #ccc;
    display: inline-block; 
    margin: 55px; 
    font-size: 16px; 
}

